<%= form_with(model: @player) do |form| %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
  
    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>
  
    <div class="field">
      <%= form.label :contact %>
      <%= form.text_field :contact %>
    </div>

    <div class="field">
      <%= form.label :place %>
      <%= form.text_field :place %>
    </div>
  
     <div class="field">
      <%= form.label :date_of_birth %>
      <%= form.date_field :date_of_birth %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
 <% end %>
  