<b>Name:</b>
<p><%= @player.name %></p>

<b>Place:</b>
<p><%= @player.place %></p>

<b>Contact:</b>
<p><%= @player.contact %></p>

<b>Date Of Birth:</b>
<p><%= @player.date_of_birth %></p>

<b>Email:</b>
<p><%= @player.email %></p>

<%= link_to "Back", players_path %>

